.title{
	color: royalblue;
}
h2{
	color: deeppink;
}
.subtitle:hover{
	color: green;
}
/*1.first-child
  2.last child
  3.nth-child(number)
  4.only-child=> only one child found*/

li:only-child{
	color: steelblue;
}
